<!doctype html>
<html lang="pt-br"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    
    <title>Lista de anotações</title>
</head>
<body>
    <header>    
        <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="javascript:;">Caderno de Anotações</a>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" 
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:;"
                                th:href="@{/anotacoes}">Lista</a>
                        </li>
                          
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:;"
                                th:href="@{/anotacoes/nova}">Nova</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
        
    <main role="main">
        <th:block layout:fragment="conteudo"></th:block>
        
        <section>
            <div class="container">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-light text-center">
                            <tr>
                                <th>Título</th>
                                
                                <th>Cadastro</th>
                            </tr>
                        </thead>
    
                        <tbody>
                            <tr th:each="anotacao: ${anotacoes}">
                                <td>
                                    <a href="javascript:;" th:text="${anotacao.titulo}"
                                        th:href="@{/anotacoes/{id}/editar(id=${anotacao.id})}">Titulo anotação</a>
                                </td>

                                <td class="text-center w-25"
                                    th:text="${#temporals.format(anotacao.cadastro, 'dd/MM/yyyy')}">10/10/2010</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        
        
        
        
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>